header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
  color: white;
  font-family: var(--primary-font);
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.279);
}
header > p{
  font-family: var(--default-font);
  font-size: 1.2em;
  color: white;
  max-width: 500px;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.379);
  margin-bottom: 20px;
}
